# Python
__pycache__/
pycache/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Django
.env
*.log
db.sqlite3
media/

# Virtual environments
.venv/
venv/
env/

# Poetry
# poetry.lock is intentionally tracked

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
